.header {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    padding: 40px 70px;
    background-color: aquamarine;

}

.logo {
    flex: 50%;
    height: 300px;
    background-color: red;
}

.navbar {
    flex: 50%;
    height: 300px;
    background-color: yellow;
}

.container {
    height: 400px;
    background-color: blueviolet;
    padding: 40px 70px;

}
.content {
    height: 400px;
    background-color: rgb(149, 124, 172);

}

@media screen and (min-width:1800px) {
    .logo {
        background-color: black;
    }
}

@media screen and (max-width:1200px) {

    .header {
        flex-direction: column;
    }

    .logo {
        background-color: coral;
    }
}


/* Tablet screen */
@media screen and (max-width:768px) {
    .header {
        flex-direction: row;
    }

    .logo {
        background-color: blue;
    }
    .content {
        flex-direction: column;
    }
}


/* Phone Screen */
@media screen and (max-width:400px) {

    /* css code */
    .header {
        flex-direction: column;
    }

    .logo {
        background-color: green;
    }
    
    /* .navbar img {
        width: 250px;
    } */

}